.navbar {
  position: fixed;
  top: var(--spacing-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar__list {
  list-style: none;
  padding: var(--spacing-xs) var(--spacing-lg);
  border-radius: var(--spacing-base);

  display: flex;
  gap: var(--spacing-base);
  background-color: var(--foreground-color);

  & a {
    color: var(--background-color);
  }


}