@import url('./reset.css');
@import url('./_variables.css');
@import url('./_container.css');
@import url('./_navbar.css');

body {
  overflow: hidden;
  font-family: var(--font-sans);
  cursor: none;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

a {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  width: 1rem;
  aspect-ratio: 1 / 1;
  background-color: var(--cursor-color);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
  transition: background-color 0.15s ease-in-out;
}